header {
  position: fixed;
  z-index: 5000;
  top: 0;
  left: 0;
  right: 0;
  background: #ffc907;
}
.f4 {
  font-size: 16px;
}
.f3 {
  font-size: 20px;
}
.f2 {
  font-size: 24px;
}
.f1 {
  font-size: 28px;
}
.f0 {
  font-size: 32px;
}
.f5 {
  font-size: 14px;
}
.f6 {
  font-size: 12px;
}
.main {
  margin-top: 120px;
}
.color-fg-muted {
  color: #ffc907;
}
.note{
    
    font: size 10px;
}