.google-img{
    position:relative;
    text-align:center;


}
.google{
    text-align:center;
    margin-top: 10px;
    margin-bottom: 10px;

}
#search{
    width: 100%;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 10px;
}
#searchBtn , #luckyBtn{
    background-color: #4285f4;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    transition-duration: 0.4s;
    box-shadow: 0 9px #999;
}
#searchBtn:hover, #luckyBtn:hover{
    background-color: #3e8e41;
    color: white;
}
.Search{
    margin-top: 10px;
    margin-bottom: 10px;
    text-align:center;
    text-decoration: none;
    display: inline-block;
    text-rendering: auto;
    font-size: 16px;
    background-color: rgb(196, 184, 184, 0.2);
}
#search:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
#search:focus{
    outline: none;

}
footer{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
   text-align: center;
    color: white;
    text-decoration: none;
    cursor: pointer;
    transition: 0.5s;
    padding: 10px;
    background-attachment: scroll;

}
.foot:hover{
    background-position: right center;
    color: white;
    text-decoration: none;
}
footer::after{
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background: white;
    transition: width 0.2s;
    text-decoration: none;
}
a{
    text-decoration: none;
    cursor: pointer;
    color: white;
}
a:hover{
    color: white;
    text-decoration: none;
}
p{
    text-decoration: none;
    cursor: pointer;
    font-size: 16px;

}
.bas{
    
    padding-top: 15px;
    font-size:20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-style: arial;


}
.foot{
    text-align: center;
    border:solid rgb(91, 128, 184);
    border-radius: 5px;
    padding: 10px;
    background: linear-gradient(to left, #4285f4, #34a853, #fbbc05, #ea4335);
    background-size: 200% auto;
    margin: 7px;
    
}
#email{
    width: 70%;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 10px;
    font-size: 10px;
    margin-top: 10px;
    margin-bottom: 10px;


    
}
#email:focus{
    outline: none;
}
#emailBtn{
   
    color: rgb(91, 128, 184);
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    
    margin-bottom: 10px;
    cursor: pointer;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    transition-duration: 0.4s;
    
}
